// Specific CSS for your home-page
body {
  background-color: #D9DBE9;
}

#category-section {
height: 100vh;
}

// .banner {
//   margin: 0 auto;
//   display: flex;
//   padding: 60px;
//   color: white;
//   font-size: 30px;
//   background-image: url('https://source.unsplash.com/lCTfOwSi27E/1600x900');
//   height: 100vh;
//   object-fit: contain;
//   margin: auto;
// }

h1 {
  color: white;
  font-family: Poppins;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.home-container {
  height: 100vh;
}

.page-wrap {
  min-height: calc(100vh - 60px);
}

.btn-home {
  min-width: 300px;
}
