<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-text">
    <a href="#" class="mr-3">Privacy</a>
    <a href="#" class="mr-3">About us</a>
    <a href="#" class="mr-3">Sitemap</a>
    <a href="#" class="mr-3">Work with us!</a>
  </div>
  <div class="footer-copyright">
    <i class="far fa-copyright"></i> FantasyRide Inc. All rights reserved
  </div>
</div>
