<div class="banner">
  <div class="container">
    <h1>Get away with </br>fantasy!</h1>
    <div class="mb-3">
      <%= form_tag vehicles_path, method: :get do %>
      <%= text_field_tag :query, nil, placeholder: 'Search for a ride from your favorite movies', class: "searchbar" %>
      <%= submit_tag ">", class: "input-button" %>
      <% end %>
    </div>
    <div class="">
      <p class="text-home mt-4 ml-2"> Not inspired? We've got you cover, from magic car to flying <br> broomstick.</p> <%= link_to "Discover all our vehicles!", vehicles_path, class: "btn-home ml-2" %>
    </div>
  </div>
</div>
