<div class="banner">
  <div class="container">
    <h1>Get away with </br>fantasy!</h1>
    <%= form_tag vehicles_path, method: :get do %>
    <%= text_field_tag :query, nil, placeholder: 'Search a ride', class: "searchbar" %>
    <%= submit_tag ">", class: "input-button" %>
    <% end %>
    <%= link_to "Discover all", vehicles_path, class: "btn btn-dark rounded-btn m-0" %>
  </div>
</div>
