<div class="banner">
  <div class="container">
    <h1>Get away with </br>fantasy!</h1>
    <form>
    <input type="text" placeholder="Search a ride" class="searchbar">
    <input type="button" value=">" class= "input-button">
    </form>
    <%= link_to "Discover all", vehicles_path, class: "btn btn-dark rounded-btn m-0" %>
  </div>
</div>
