<div class="banner">
  <div class="container">
    <h1>Get away with </br>fantasy!</h1>
  </div>
</div>
<!-- <div id="category-section">
  <div class="container">
    <h1>Choose your </br>fantasy ride</h1>
    <div class=" row justify-content-center">
      <div class="card col-6 category-card">
        <img src="https://source.unsplash.com/featured/?car" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Car</h5>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Explore all possibilities</button>
  </div>
 </div>
 -->
