<div class="banner">
  <div class="container">
    <h1>Get away with </br>fantasy!</h1>
    <%= form_tag "/vehicles", method: "GET" do %>
      <%= text_field_tag :search, params[:query] %>
      <%= submit_tag "Search" %>
    <% end %>

    <form action="/vehicles" method="get">
      <input type="text" placeholder="Search a ride" class="searchbar">
      <input type="button" value=">" class= "input-button">
      <%= link_to "Discover all", vehicles_path, class: "btn btn-dark rounded-btn" %>
    </form>
  </div>
</div>
