<div class="banner">
  <div class="container">
    <h1>Get away with </br>fantasy!</h1>
    <div class="mb-3">
      <%= form_tag vehicles_path, method: :get do %>
      <%= text_field_tag :query, nil, placeholder: 'Search for a ride from your favorite movies', class: "searchbar" %>
      <%= submit_tag ">", class: "input-button" %>
      <% end %>
    </div>
    <br>
    <div class="align-items-center">
      <h4>Not inspired?</h4>
      <%= link_to " Discover all our vehicles", vehicles_path, class: "btn btn-lg btn-primary rounded-btn m-0 btn-home" %>
    </div>
  </div>
</div>
