.filters {
  background-color: white;
  border-radius: 15px;
  margin-top: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.filter-category {
  padding-top: 10px;
}

.filter-category h2 {
  font-size: 20px;
  font-family: Poppins;
  font-weight: bold;
  margin-left: -20px;
}
