
.form {
  background-color: white;
  width: 750px;
}

::placeholder {
  font-size: 14px;
}

.form h1 {
  font-size: 26px;
  font-family: Poppins;
  margin-left: -20px;
  color: #333333;
}

.form h2 {
  font-size: 16px;
  font-family: Poppins;
  margin-left: -20px;
}

.input-box {
  padding-top: 10px;
  margin: 25px 0px;
}

#map { position: absolute; top: 0; bottom: 0; width: 100%; }

