
.form {
  background-color: white;
  width: 750px;
}

::placeholder {
  font-size: 14px;
}

.form h2 {
  font-size: 16px;
  font-family: Poppins;
  margin-left: -20px;
}

.input-box {
  padding-top: 10px;
}
