.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  height: 50px;
}

body {
  font-family: Poppins;
  color: #333333;
}

.no-border {
  border-color: white;
}

#sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.rounded-btn {
  border-radius: 6px;
}

.btn {
  margin-left: 20px;
  margin-right: 20px;
}
