.radius {
  border-radius: 15px;
}

.vehicle-photo {
  height: 336px;
  width: 100%;
  object-fit: cover;
}

h1 {
  color: #14142B;
  font-size: 32px;
  font-weight: bold;
  margin: 40px 0px 20px 0px;
}

.first-card-info {
  display: flex;
  align-items: center;
}

.bloc-label {
  display: flex;
};

.category-label {
  background-color: #5F2EEA;
  color: white;
  font-size: 14px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  font-style: italic;
  margin-left: 10px;
}


.description-card {
  text-align: justify;
}

.description-card p {
  font-style: italic;
}


.content-vehicle-detail-card {
  font-style: italic;
}

#goldenButton:hover {
  background-color: goldenrod;
  border-color: #C3941D ;
}

.form-icons {
  position: relative;
    input { text-indent: 30px; }
  .fa-plus {
    position: absolute;
    top: 15px;
    left: 24px;
    font-size: 20px;
    color: white;
  }
}

// .notification {
//   display: flex;
//   align-items: center;
//   margin-bottom: 4px;
//   background: white;
//   width: 300px;
//   border: 1px solid rgb(235,235,235);
// }

// .notification .notification-content {
//   flex-grow: 1;
//   padding: 0 24px;
// }

