.title-vehicle {
 display: flex;
}

h1 {
  color: #14142B;
  font-size: 32px;
  padding-left: 50px;
  padding-top: 20px;
  font-weight: bold;
}

.first-card-info {
  display: flex;
  align-items: center;
}

.price-card {
  margin-left: 50px;
  font-style: italic;
  margin-right: 10px;
}

.bloc-label {
  display: flex;
};

.category-label {
  background-color: #5F2EEA;
  color: white;
  font-size: 14px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  font-style: italic;
  margin-left: 10px;
}

.reservation-card {
}

.photo-vehicle {
  padding-left : 40px;
}

.description-card {
  padding-left: 50px;
  text-align: justify;
  width: 600px;
}

.description-card p {
  font-style: italic;
}

.vehicle-detail-card {
  background-color: none;
  width: 600px;
  padding-left: 50px;
  padding-top: 10px;
  border-radius: 10px;

}

.content-vehicle-detail-card {
  font-style: italic;
}

.btn-card-vehicle {
  padding-left: 25px;
}

.return-link {
  padding-left : 50px;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  background: white;
  width: 300px;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  margin-left: 50px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.avatar-large {
}
